<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
    <trace
      traceTimings="true"
      minTracedDuration="0:0:0.1"
      stepDefinitionSkeletonStyle="RegexAttribute" />
    <runtime
      stopAtFirstError="false"
      missingOrPendingStepsOutcome="Inconclusive" />
    <stepAssemblies>
    <stepAssembly assembly="TestAutomation.QAWorks.Web.Steps" />
    </stepAssemblies>
  </specFlow>
  
  <appSettings>
    <add key="AUT.URL" value="http://www.qaworks.com/" />
   <!-- <add key="AUT.Driver" value="Chrome" />-->
  </appSettings>
</configuration>
